    <script type='text/javascript' src='/BingMapsSDK.js'></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>