<% include header %>

  <h1><%-title %></h1>
  <p>Simple code for Microsoft Bing Maps API</p>
  <p>
  </p>

  <aside class="map">
    <figure>
      <div id='Map' style='width: 50vw; height: 100vh;'></div>
      <figcaption class="details">
      
      </figcaption>
    </figure>
  </aside>
  <aside class="address">
  here are is the directions api , what the fuck is with this map thing , it so hard just getting one thing working . fuck ! 
      <div id="directionsManager"></div>
  </aside>
  <small><b>Thank you  <i>@bigkevzs</i></b></small>
<% include footer %>