<% include header %>

  <h1><%-title %></h1>
  <p>Simple code for Microsoft Bing Maps API</p>
  <small>
    Brief description of the api here ...
  </small>
  <p>
  </p>

  <aside class="map">
    <div id='Map' style='width: 50vw; height: 100vh;'></div>
  </aside>
  <aside class="address">
    <address>
      Location details ... 
    </address>
  </aside>
<% include footer %>