<% include header %>

  <h1><%-title %></h1>
  <p>Simple code for Microsoft Bing Maps API</p>
  <small>
    Brief description of the api here ...
  </small>
  <aside>
    <div id='smapleMap' style='width: 100vw; height: 100vh;'></div>
  </aside>
  <aside>
    <address>
      Location details ... 
    </address>
  </aside>
<% include footer %>