<% include header %>

  <h1><%-title %></h1>
  <p>Simple code for Microsoft Bing Maps API</p>
  <p>
  </p>

  <aside class="map">
    <div id='Map' style='width: 50vw; height: 100vh;'></div>
  </aside>
  <small><b>Details here ..</b></small>
  <aside >
  <center>
    <ul class="details">
      <li></li> <br>
    </ul>
  </center>
  </aside>
<% include footer %>